In [1]:
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')
import numpy as np
from sklearn.cluster import KMeans
from sklearn import preprocessing, cross_validation
import pandas as pd

In [7]:
df = pd.read_excel('Python90Days/titanic.xls')
df.drop(['body','name'],1,inplace=True)
df.convert_objects(convert_numeric=True)
df.fillna(0,inplace=True)
df.head()

C:\Users\Director UYE\anaconda2\envs\py35\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  app.launch_new_instance()

,pclass,survived,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,home.dest
0,1,1,female,29.0000,0,0,24160,211.3375,B5,S,2,"St Louis, MO"
1,1,1,male,0.9167,1,2,113781,151.5500,C22 C26,S,11,"Montreal, PQ / Chesterville, ON"
2,1,0,female,2.0000,1,2,113781,151.5500,C22 C26,S,0,"Montreal, PQ / Chesterville, ON"
3,1,0,male,30.0000,1,2,113781,151.5500,C22 C26,S,0,"Montreal, PQ / Chesterville, ON"
4,1,0,female,25.0000,1,2,113781,151.5500,C22 C26,S,0,"Montreal, PQ / Chesterville, ON"

In [19]:
def handle_non_numeric_data(df):
    columns = df.columns.values
    
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]
        
        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1
                    
            df[column] = list(map(convert_to_int, df[column]))
            
    return df

df = handle_non_numeric_data(df)
df.head()

,pclass,survived,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,home.dest
0,1,1,1,29.0000,0,0,767,211.3375,123,2,1,190
1,1,1,0,0.9167,1,2,507,151.5500,111,2,19,86
2,1,0,1,2.0000,1,2,507,151.5500,111,2,0,86
3,1,0,0,30.0000,1,2,507,151.5500,111,2,0,86
4,1,0,1,25.0000,1,2,507,151.5500,111,2,0,86

In [40]:
df.drop(['boat'],1, inplace=True)

X = np.array(df.drop(['survived'],1).astype(float))
X = preprocessing.scale(X)
y = np.array(df['survived'])

clf = KMeans(n_clusters=2)
clf.fit(X)

correct = 0
for i in range(len(X)):
    predict_me = np.array(X[i].astype(float))
    predict_me = predict_me.reshape(-1,len(predict_me))
    prediction = clf.predict(predict_me)
    if prediction[0] == y[i]:
        correct += 1
        
print(correct/len(X))

0.3177998472116119

In [27]:
X[0]

array([   1.    ,    1.    ,   29.    ,    0.    ,    0.    ,  767.    ,
        211.3375,  123.    ,    2.    ,    1.    ,  190.    ])

In [13]:
df['home.dest'].values.tolist()

['St Louis, MO',
 'Montreal, PQ / Chesterville, ON',
 'Montreal, PQ / Chesterville, ON',
 'Montreal, PQ / Chesterville, ON',
 'Montreal, PQ / Chesterville, ON',
 'New York, NY',
 'Hudson, NY',
 'Belfast, NI',
 'Bayside, Queens, NY',
 'Montevideo, Uruguay',
 'New York, NY',
 'New York, NY',
 'Paris, France',
 0,
 'Hessle, Yorks',
 'New York, NY',
 'Montreal, PQ',
 'Montreal, PQ',
 0,
 'Winnipeg, MN',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 0,
 0,
 'San Francisco, CA',
 'Dowagiac, MI',
 'Dowagiac, MI',
 0,
 'Stockholm, Sweden / Washington, DC',
 'Trenton, NJ',
 'Glen Ridge, NJ',
 'Youngstown, OH',
 'Birkdale, England Cleveland, Ohio',
 'London / Winnipeg, MB',
 'Cooperstown, NY',
 'St Leonards-on-Sea, England Ohio',
 'Los Angeles, CA',
 'Pomeroy, WA',
 'Omaha, NE',
 'Philadelphia, PA',
 'Denver, CO',
 'Belmont, MA',
 'Philadelphia, PA',
 0,
 'Washington, DC',
 0,
 'New York, NY',
 'Washington, DC',
 'Austria-Hungary / Germantown, Philadelphia, PA',
 'Germantown, Philadelphia, PA',
 'New York, NY',
 'Montevideo, Uruguay',
 'Montevideo, Uruguay',
 'Bryn Mawr, PA',
 'Bryn Mawr, PA',
 'Bryn Mawr, PA',
 'Bryn Mawr, PA',
 'Ascot, Berkshire / Rochester, NY',
 'New York, NY',
 'Little Onn Hall, Staffs',
 'Little Onn Hall, Staffs',
 'Amenia, ND',
 'Amenia, ND',
 'New York, NY / Ithaca, NY',
 'New York, NY / Ithaca, NY',
 0,
 'London, England',
 'Paris, France',
 'St Leonards-on-Sea, England Ohio',
 'Liverpool, England / Belfast',
 'Los Angeles, CA',
 'Los Angeles, CA',
 0,
 'Stoughton, MA',
 'Victoria, BC',
 'Lakewood, NJ',
 'Lakewood, NJ',
 'Lakewood, NJ',
 'New York, NY',
 'Roachdale, IN',
 'Milwaukee, WI',
 'Milwaukee, WI',
 'Milwaukee, WI',
 'New York, NY',
 'New York, NY',
 'Lima, Peru',
 'Philadelphia, PA',
 0,
 'Montreal, PQ',
 'Montreal, PQ',
 'Calgary, AB',
 'Calgary, AB',
 'San Francisco, CA',
 'San Francisco, CA',
 'San Francisco, CA',
 'Deephaven, MN / Cedar Rapids, IA',
 'Montreal, PQ',
 'Deephaven, MN / Cedar Rapids, IA',
 'London / Paris',
 'London / Paris',
 'Philadelphia, PA',
 'Mt Airy, Philadelphia, PA',
 'New York, NY',
 'Brookline, MA',
 'New York, NY',
 0,
 'New York, NY',
 0,
 'Brooklyn, NY',
 'New York, NY',
 'Winnipeg, MB',
 'Winnipeg, MB',
 'Winnipeg, MB',
 'Winnipeg, MB',
 'Winnipeg, MB',
 'Winnipeg, MB',
 0,
 'Westcliff-on-Sea, Essex',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'Zurich, Switzerland',
 'Zurich, Switzerland',
 'Zurich, Switzerland',
 0,
 'Scituate, MA',
 'Scituate, MA',
 "St Anne's-on-Sea, Lancashire",
 0,
 'New York, NY',
 'New York, NY',
 0,
 'Paris, France / New York, NY',
 'Paris, France / New York, NY',
 'New York, NY',
 'Washington, DC',
 'Greenwich, CT',
 'Winnipeg, MB',
 'Greenwich, CT',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'Brooklyn, NY',
 'Brooklyn, NY',
 'New York, NY',
 'New York, NY',
 0,
 'New York, NY',
 'New York, NY',
 0,
 0,
 'Kingston, Surrey',
 'New York, NY',
 'Montreal, PQ',
 'Montreal, PQ',
 'London / Middlesex',
 'Brighton, MA',
 'London / Birmingham',
 'Chicago, IL',
 'Chicago, IL',
 'Hudson, NY',
 'New York, NY',
 'New York, NY',
 'Indianapolis, IN',
 'New York, NY /  Stamford CT',
 'New York, NY',
 'New York, NY /  Stamford CT',
 0,
 'Paris, France New York, NY',
 'Liverpool',
 'Bennington, VT',
 'London',
 0,
 'Buffalo, NY',
 'Southington / Noank, CT',
 'Southington / Noank, CT',
 'Boston, MA',
 'Boston, MA',
 'Portland, OR',
 0,
 'New York, NY',
 0,
 0,
 'Chicago, IL',
 'Stockholm, Sweden',
 'Stockholm, Sweden',
 'Paris, France',
 'Paris, France',
 'Springfield, MA',
 'Hudson, NY',
 'London / New York, NY',
 0,
 'St Louis, MO',
 'Brockton, MA',
 0,
 'Paris, France',
 'New York, NY',
 'New York, NY',
 'Belgium  Montreal, PQ',
 'Vancouver, BC',
 'Dorchester, MA',
 'Philadelphia, PA',
 'New York, NY',
 'New York, NY',
 'East Bridgewater, MA',
 'Fond du Lac, WI',
 'Green Bay, WI',
 'Fond du Lac, WI',
 'New York, NY',
 'Montreal, PQ',
 'Washington, DC',
 'Brooklyn, NY',
 'Lexington, MA',
 'Lexington, MA',
 'Lexington, MA',
 'New York, NY',
 'Isle of Wight, England',
 0,
 'Paris, France',
 'Providence, RI',
 'Providence, RI',
 '?Havana, Cuba',
 'Belfast',
 'Surbiton Hill, Surrey',
 'Montreal, PQ',
 'Isleworth, England',
 'Isleworth, England',
 'Madrid, Spain',
 'Madrid, Spain',
 0,
 'Toronto, ON',
 'Worcester, MA',
 'Mt Airy, Philadelphia, PA',
 'Rotterdam, Netherlands',
 'Paris /  New York, NY',
 0,
 0,
 'St Louis, MO',
 'Trenton, NJ',
 'New York, NY',
 'Seattle, WA',
 'Paris, France',
 'New York, NY',
 'Winnipeg, MB',
 'London  Vancouver, BC',
 'New York, NY',
 'New York, NY',
 'London',
 'Haverford, PA / Cooperstown, NY',
 'Haverford, PA / Cooperstown, NY',
 'Haverford, PA / Cooperstown, NY',
 'Haverford, PA / Cooperstown, NY',
 'Haverford, PA / Cooperstown, NY',
 'Manchester, England',
 0,
 'New York, NY',
 'New York, NY',
 0,
 'New York, NY',
 'New York, NY / Greenwich CT',
 'St Louis, MO',
 'Duluth, MN',
 'Duluth, MN',
 'Basel, Switzerland',
 'New Britain, CT',
 'New York, NY',
 'St James, Long Island, NY',
 'Huntington, WV',
 'Streatham, Surrey',
 'Huntington, WV',
 'Minneapolis, MN',
 'Minneapolis, MN',
 'Tuxedo Park, NY',
 'Tuxedo Park, NY',
 'Tuxedo Park, NY',
 'Paris, France',
 'Paris, France',
 'Basel, Switzerland',
 'Wimbledon Park, London / Hayling Island, Hants',
 'Newark, NJ',
 'Newark, NJ',
 'Haverford, PA',
 'Gallipolis, Ohio / ? Paris / New York',
 'Cincinatti, OH',
 'New York, NY',
 'New York, NY',
 'Haddenfield, NJ',
 'Brooklyn, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'London /  East Orange, NJ',
 'London /  East Orange, NJ',
 'Haverford, PA',
 'Haverford, PA',
 'Haverford, PA',
 'New York, NY',
 'Albany, NY',
 'Mexico City, Mexico',
 'Brooklyn, NY',
 'East Orange, NJ',
 0,
 'Portland, OR',
 'Portland, OR',
 'England Salt Lake City, Utah',
 'Brunswick, ME',
 'Brunswick, ME',
 'New York, NY / Briarcliff Manor NY',
 'Youngstown, OH',
 'Youngstown, OH',
 'Youngstown, OH',
 'Elkins Park, PA',
 'Elkins Park, PA',
 'Elkins Park, PA',
 'Duluth, MN',
 'Geneva, Switzerland / Radnor, PA',
 'Geneva, Switzerland / Radnor, PA',
 'London, England',
 0,
 'London, England',
 'Halifax, NS',
 'New York, NY / Washington, DC',
 'Russia New York, NY',
 'Russia New York, NY',
 'Bryn Mawr, PA, USA',
 'Buenos Aires, Argentina / New Jersey, NJ',
 'Cornwall, England Houghton, MI',
 'Warwick, England',
 'Warwick, England',
 'West Hoboken, NJ',
 'Penzance, Cornwall / Akron, OH',
 'Guernsey',
 'Bristol, Avon / Jacksonville, FL',
 'Plymouth, Dorset / Houghton, MI',
 'Jacksonville, FL',
 'Norwich / New York, NY',
 'Norwich / New York, NY',
 'England',
 'Guntur, India / Benton Harbour, MI',
 'Guntur, India / Benton Harbour, MI',
 'Guntur, India / Benton Harbour, MI',
 'Guntur, India / Benton Harbour, MI',
 'London',
 'Rochester, NY',
 'St Ives, Cornwall / Calumet, MI',
 'Elmira, NY / Orange, NJ',
 'London',
 'Lake Arthur, Chavez County, NM',
 'London / Montreal, PQ',
 'Cape Town, South Africa / Seattle, WA',
 'Cape Town, South Africa / Seattle, WA',
 'Cape Town, South Africa / Seattle, WA',
 'Skara, Sweden / Rockford, IL',
 'Skara, Sweden / Rockford, IL',
 'Sittingbourne, England / San Diego, CA',
 'Southsea, Hants',
 'London',
 'New York, NY',
 'Bangkok, Thailand / Roseville, IL',
 'Bangkok, Thailand / Roseville, IL',
 'Bangkok, Thailand / Roseville, IL',
 'Mamaroneck, NY',
 'Belfast',
 'St Ives, Cornwall / Calumet, MI',
 'London',
 'London',
 'Bronx, NY',
 'Cornwall / Spokane, WA',
 'Cornwall / Spokane, WA',
 'London',
 'London',
 'England / San Francisco, CA',
 'England / San Francisco, CA',
 'Hartford, Huntingdonshire',
 'Helsinki, Finland Ashtabula, Ohio',
 'London / Fort Byron, NY',
 'Bishopstoke, Hants / Fayette Valley, ID',
 'Bishopstoke, Hants / Fayette Valley, ID',
 'Bishopstoke, Hants / Fayette Valley, ID',
 'Pennsylvania',
 'Provo, UT',
 'Upper Burma, India Pittsburgh, PA',
 'Penzance, Cornwall / Akron, OH',
 'Belfast',
 'St Ives, Cornwall / Hancock, MI',
 'Lyndhurst, England',
 'St Ives, Cornwall / Hancock, MI',
 'London / Staten Island, NY',
 'Portugal / Sau Paulo, Brazil',
 0,
 'Lucca, Italy / California',
 'Lucca, Italy / California',
 'Guernsey / Elizabeth, NJ',
 'New Forest, England',
 'Southampton',
 'Southampton',
 'Holley, NY',
 'Greenport, NY',
 'Greenport, NY',
 'Greenport, NY',
 'Barcelona, Spain / Havana, Cuba',
 'Barcelona, Spain / Havana, Cuba',
 'England / Detroit, MI',
 'Goteborg, Sweden / Rockford, IL',
 'Oslo, Norway Bayonne, NJ',
 'England / Philadelphia, PA',
 0,
 'Cornwall / Houghton, MI',
 'Rochester, NY',
 'Belfast',
 'Janjgir, India / Pennsylvania',
 'Liverpool / Montreal, PQ',
 'Cornwall / Clear Creek, CO',
 'Cornwall / Clear Creek, CO',
 'Brooklyn, NY',
 'Liverpool / Montreal, PQ',
 'Guernsey / Elizabeth, NJ',
 'Cornwall',
 'Cornwall / Camden, NJ',
 'Cornwall / Camden, NJ',
 'West Kensington, London',
 'Clevedon, England',
 'Vancouver, BC',
 0,
 'Bronx, NY',
 'Auburn, NY',
 'Detroit, MI',
 'Detroit, MI',
 'Seattle, WA / Toledo, OH',
 'Denmark Hill, Surrey / Chicago',
 'Denmark Hill, Surrey / Chicago',
 'London',
 'Walthamstow, England',
 'Ilford, Essex / Winnipeg, MB',
 'Ilford, Essex / Winnipeg, MB',
 'Ilford, Essex / Winnipeg, MB',
 'Somerset / Bernardsville, NJ',
 'Somerset / Bernardsville, NJ',
 'Somerset / Bernardsville, NJ',
 'Somerset / Bernardsville, NJ',
 'India / Rapid City, SD',
 'West Hampstead, London / Neepawa, MB',
 'West Hampstead, London / Neepawa, MB',
 'West Hampstead, London / Neepawa, MB',
 'Kontiolahti, Finland / Detroit, MI',
 'Cornwall / Akron, OH',
 'Cornwall / Akron, OH',
 'Devonport, England',
 'Cornwall / Akron, OH',
 'Southampton',
 'England / Sacramento, CA',
 'England / Sacramento, CA',
 'New Forest, England',
 'Tokyo, Japan',
 'Swindon, England',
 'Swindon, England',
 'Philadelphia, PA',
 'Guernsey',
 'London',
 'London',
 'North Evington, England',
 'Guernsey / Elizabeth, NJ',
 'Guernsey / Elizabeth, NJ',
 'St Ives, Cornwall / Houghton, MI',
 'New York, NY',
 'Moscow / Bronx, NY',
 'Moscow / Bronx, NY',
 'India / Pittsburgh, PA',
 'Harrisburg, PA',
 0,
 'London / New York, NY',
 'Glasgow / Bangor, ME',
 'Belfast',
 'Sweden / Arlington, NJ',
 'Minneapolis, MN',
 'Minneapolis, MN',
 0,
 'Paris / Haiti',
 'Paris / Haiti',
 'Paris / Haiti',
 'Paris / Haiti',
 'Berne, Switzerland / Central City, IA',
 'London / Chicago, IL',
 'Chicago, IL',
 'Montreal, PQ',
 0,
 0,
 'Weston-Super-Mare, Somerset',
 'Weston-Super-Mare, Somerset',
 'Southampton / New York, NY',
 'Paris',
 'Paris / Montreal, PQ',
 'Paris / Montreal, PQ',
 'Paris / Montreal, PQ',
 'New York, NY',
 'St Austall, Cornwall',
 'Weston-Super-Mare / Moose Jaw, SK',
 'Sydney, Australia',
 'Sarnia, ON',
 'Rochester, NY',
 'England / Bennington, VT',
 'England / Bennington, VT',
 'Chelsea, London',
 'Harrow-on-the-Hill, Middlesex',
 'Copenhagen, Denmark',
 'Guernsey / Montclair, NJ and/or Toledo, Ohio',
 'Worcester, MA',
 'Frankfort, KY',
 0,
 'Halesworth, England',
 'Cambridge, MA',
 'New York, NY',
 'New York, NY',
 'Nice, France',
 'Nice, France',
 'Nice, France',
 'Boston, MA',
 'Cornwall / Hancock, MI',
 'Glasgow',
 'Cologne, Germany',
 'Folkstone, Kent / New York, NY',
 'Middleburg Heights, OH',
 'Pondersend, England / New Durham, NJ',
 'Spain / Havana, Cuba',
 'Hamilton, ON',
 'Spain / Havana, Cuba',
 'St Andrews, Guernsey',
 'Belfast',
 'Woodford County, KY',
 'Gunnislake, England / Butte, MT',
 0,
 0,
 'Ilfracombe, Devon',
 'Worcester, England',
 'Ilfracombe, Devon',
 'Russia',
 'Denmark / New York, NY',
 'Milford, NH',
 'Paris',
 'Plymouth, Devon / Detroit, MI',
 'Plymouth, Devon / Detroit, MI',
 'Plymouth, Devon / Detroit, MI',
 'Brighton, Sussex',
 'Elizabeth, NJ',
 'Elizabeth, NJ',
 'Spain',
 'Paris / Montreal, PQ',
 'Cornwall / Akron, OH',
 'Cornwall / Akron, OH',
 'Cornwall / Akron, OH',
 'London, England / Marietta, Ohio and Milwaukee, WI',
 0,
 'Guernsey / Wilmington, DE',
 'Newark, NJ',
 'Liverpool',
 'Hornsey, England',
 'Deer Lodge, MT',
 'Finland / Minneapolis, MN',
 'Cornwall / Hancock, MI',
 'Finland / Washington, DC',
 'Sault St Marie, ON',
 'Halifax, NS',
 'Cornwall',
 0,
 'Cornwall / Houghton, MI',
 'New York, NY',
 'Catford, Kent / Detroit, MI',
 0,
 'Somerset / Bernardsville, NJ',
 'Indianapolis, IN',
 0,
 'Columbus, OH',
 'Bath, England / Massachusetts',
 'Plymouth, England',
 'Plymouth, England',
 'Barre, Co Washington, VT',
 'Mamaroneck, NY',
 'Bristol, England / New Britain, CT',
 0,
 'Bristol, England / New Britain, CT',
 'Belfast',
 'Aberdeen / Portland, OR',
 'Aberdeen / Portland, OR',
 'England / Hartford, CT',
 'Bromsgrove, England / Montreal, PQ',
 'Bromsgrove, England / Montreal, PQ',
 'Cornwall / Akron, OH',
 'Cornwall / Akron, OH',
 'Cornwall / Akron, OH',
 'Bournmouth, England',
 'Bournmouth, England',
 'Bournmouth, England',
 'Bournmouth, England',
 'Guernsey, England / Edgewood, RI',
 0,
 'London, England',
 'Harrow, England',
 'Yoevil, England / Cottage Grove, OR',
 'Paris',
 0,
 'East Providence, RI',
 'East Providence, RI',
 'East Providence, RI',
 'Norway Los Angeles, CA',
 'Perkins County, SD',
 'Taalintehdas, Finland Hoboken, NJ',
 'Greensburg, PA',
 'Asarum, Sweden Brooklyn, NY',
 'Bournemouth, England',
 'Sweden Akeley, MN',
 'London, England Norfolk, VA',
 'London, England Norfolk, VA',
 'Syria Fredericksburg, VA',
 'England Albion, NY',
 'Salo, Finland Astoria, OR',
 0,
 'Argentina',
 'Lower Clapton, Middlesex or Erdington, Birmingham',
 'Windsor, England New York, NY',
 'Bergen, Norway',
 0,
 'Sweden Winnipeg, MN',
 'Sweden Winnipeg, MN',
 'Sweden Winnipeg, MN',
 'Ruotsinphyhtaa, Finland New York, NY',
 'Vadsbro, Sweden Ministee, MI',
 'Sweden Winnipeg, MN',
 'Sweden Winnipeg, MN',
 'Sweden Winnipeg, MN',
 0,
 'Hartford, CT',
 'Sweden Winnipeg, MN',
 'Sweden Chicago, IL',
 'Bulgaria Chicago, IL',
 'Altdorf, Switzerland',
 'Altdorf, Switzerland',
 'Sweden Joliet, IL',
 0,
 'Sweden  Worcester, MA',
 'Sweden Worcester, MA',
 'Sweden Worcester, MA',
 'Sweden Worcester, MA',
 'Sweden Worcester, MA',
 'Sweden  Worcester, MA',
 'Oskarshamn, Sweden Minneapolis, MN',
 'Sweden  Worcester, MA',
 'Ottawa, ON',
 'Ottawa, ON',
 0,
 0,
 'Ottawa, ON',
 'Krakoryd, Sweden Bloomington, IL',
 'Syria Youngstown, OH',
 0,
 'Ruotsinphytaa, Finland New York, NY',
 'Ruotsinphytaa, Finland New York, NY',
 'Syria New York, NY',
 'Syria New York, NY',
 'Syria New York, NY',
 'Syria New York, NY',
 'London Skanteales, NY',
 0,
 0,
 0,
 'Syria Ottawa, ON',
 'Syria Ottawa, ON',
 'New York, NY',
 'England New York, NY',
 'England',
 'Krakudden, Sweden Moune, IL',
 'Tranvik, Finland New York',
 0,
 'Syria',
 'Hong Kong New York, NY',
 'Brennes, Norway New York',
 'Stockholm, Sweden New York',
 'Bulgaria Chicago, IL',
 'Syria Kent, ON',
 'Syria Kent, ON',
 'Syria',
 'Syria Kent, ON',
 'Ireland Chicago, IL',
 'Ireland Chicago, IL',
 'Ireland Chicago, IL',
 'Treherbert, Cardiff, Wales',
 'Kingwilliamstown, Co Cork, Ireland Glens Falls, NY',
 'Medeltorp, Sweden Chicago, IL',
 'Bridgerule, Devon',
 'Bridgerule, Devon',
 'Sweden Worcester, MA',
 'Broomfield, Chelmsford, England',
 'Co Cork, Ireland Roxbury, MA',
 'Kingwilliamstown, Co Cork, Ireland New York, NY',
 'Co Cork, Ireland Charlestown, MA',
 'Co Sligo, Ireland New York, NY',
 0,
 0,
 0,
 'Croatia',
 0,
 0,
 0,
 'Ireland Philadelphia, PA',
 0,
 'Ottawa, ON',
 'Ottawa, ON',
 'Dagsas, Sweden Fower, MN',
 'Goteborg, Sweden Huntley, IL',
 'Co Longford, Ireland New York, NY',
 'Co Sligo, Ireland Hartford, CT',
 'St Denys, Southampton, Hants',
 'London',
 'Ireland New York, NY',
 'Hong Kong New York, NY',
 0,
 'Greece',
 'Greece',
 'Portugal',
 'London Brooklyn, NY',
 'Co Limerick, Ireland Sherbrooke, PQ',
 'Bulgaria Chicago, IL',
 0,
 'Philadelphia, PA',
 'Ireland Brooklyn, NY',
 'Ireland',
 'Ireland',
 0,
 0,
 'Austria',
 'Austria',
 'Austria',
 'London',
 'England Brooklyn, NY',
 'England Brooklyn, NY',
 'England Brooklyn, NY',
 'Merrill, WI',
 'Bristol, England Cleveland, OH',
 'Bournemouth, England Newark, NJ',
 'Bournemouth, England Newark, NJ',
 'Austria-Hungary',
 0,
 'Australia Fingal, ND',
 'Norrlot, Sweden Chicago, IL',
 'Austria',
 'Co Athlone, Ireland New York, NY',
 'Co Athlone, Ireland New York, NY',
 'Stanton, IA',
 'Stanton, IA',
 'Stanton, IA',
 'Bulgaria Chicago, IL',
 'Bulgaria Chicago, IL',
 'West Bromwich, England Pontiac, MI',
 0,
 'West Bromwich, England Pontiac, MI',
 'West Bromwich, England Pontiac, MI',
 'Liverpool, England Bedford, OH',
 'Liverpool, England Bedford, OH',
 'Tampico, MT',
 'Tampico, MT',
 'Belgium Detroit, MI',
 0,
 'Devon, England Wichita, KS',
 'Devon, England Wichita, KS',
 'Devon, England Wichita, KS',
 'Devon, England Wichita, KS',
 0,
 0,
 'Bulgaria Coon Rapids, IA',
 0,
 0,
 'Kilmacowen, Co Sligo, Ireland New York, NY',
 0,
 0,
 0,
 0,
 'Ireland New York, NY',
 'England Oglesby, IL',
 'Union Hill, NJ',
 'Ireland New York, NY',
 'London New York, NY',
 'Austria Niagara Falls, NY',
 0,
 'England Albion, NY',
 'West Haven, CT',
 'West Haven, CT',
 'Tofta, Sweden Joliet, IL',
 'Karberg, Sweden Jerome Junction, AZ',
 'Effington Rut, SD',
 0,
 'Syria Ottawa, ON',
 0,
 'Syria',
 'Illinois, USA',
 'New York, NY',
 0,
 0,
 'Aughnacliff, Co Longford, Ireland New York, NY',
 'Italy Philadelphia, PA',
 0,
 0,
 0,
 0,
 'Ireland Chicago, IL',
 'Ireland',
 'Hong Kong New York, NY',
 'Rotherfield, Sussex, England Essex Co, MA',
 'Rotherfield, Sussex, England Essex Co, MA',
 'Bridgwater, Somerset, England',
 'Rotherfield, Sussex, England Essex Co, MA',
 'Rotherfield, Sussex, England Essex Co, MA',
 'Rotherfield, Sussex, England Essex Co, MA',
 'Ireland New York, NY',
 0,
 'New York, NY',
 0,
 0,
 0,
 'Co Longford, Ireland New York, NY',
 'Co Clare, Ireland Washington, DC',
 'Strood, Kent, England Detroit, MI',
 'Strood, Kent, England Detroit, MI',
 'Philadelphia, PA',
 'Strood, Kent, England Detroit, MI',
 'Portugal',
 'Wiltshire, England Niagara Falls, NY',
 'Wiltshire, England Niagara Falls, NY',
 'Wiltshire, England Niagara Falls, NY',
 'Wiltshire, England Niagara Falls, NY',
 'Wiltshire, England Niagara Falls, NY',
 'Wiltshire, England Niagara Falls, NY',
 'Wiltshire, England Niagara Falls, NY',
 'Wiltshire, England Niagara Falls, NY',
 'Dorking, Surrey, England',
 'Foresvik, Norway Portland, ND',
 0,
 'Waukegan, Chicago, IL',
 'Ruotsinphytaa, Finland New York, NY',
 'Ruotsinphytaa, Finland New York, NY',
 'Myren, Sweden New York, NY',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 ...]